.ghe {
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-bottom: 1%;
  border-radius: 5px;
}

.ghe:hover {
  border-color: orange;
}

.gheDuocChon {
  border: 3px solid orange;
  background: orange;
  color: #000;
  cursor: no-drop !important;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.gheDangChon {
  background: rgb(109, 238, 109);
  border: 3px solid rgb(109, 238, 109);
  color: #000;
  cursor: pointer;
  border-radius: 5px;
  width: 45px;
  height: 35px;
}

.seat-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seat-item {
  display: block;
  text-decoration: none;
  font-weight: 600;
}

table {
  --bs-table-bg: none !important;
  --bs-table-color: white !important;
}
table button {
  border-color: transparent !important;
}
